* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 1000px;
  /* min-width: 500px; */
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 128, 53);
  color: white;
  align-items: center;
  padding: 15px;
}

.list {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 15px;
}

.list li a {
  text-decoration: none;
  color: inherit;
  pointer-events: none;
  cursor: default;
}

.title-header {
  font-size: 20px;
}

.buy-info {
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 78, 36);
  padding: 18px;
  align-items: center;
}

.button-delete {
  height: 40px;
  border: none;
}

.items-bought {
  color: white;
  font-size: 17px;
}

.form {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 7px;
}

.form-add-button {
  border: none;
  background-color: rgb(0, 128, 122);
  color: white;
  font-weight: 300;
  font-size: 20px;
  width: 80px;
}

fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
}

.form-name .form-price {
  width: 20px;
}

legend {
  padding: 0;
  font-size: 17px;
}

main {
  padding: 15px;
  background-color: rgb(255, 179, 0);
  min-height: 100vh;
}
